*.shadergraph linguist-detectable=false
*.shader linguist-detectable=false
*.cginc linguist-detectable=false
*.prefab linguist-detectable=false
*.meta linguist-detectable=false
*.anim linguist-detectable=false